[run]
source = payments, posts, users, blog, newsletters

[report]
omit =
    */venv/*
    */migrations/*
    *\__init__.py*
    *\admin.py*
    *\apps.py*
    *\forms.py*
    *\paginators.py*
    *\permissions.py*
    *\task.py*
    *\tests.py*
    *\urls.py*
    *\views.py*
